html,body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #fff), url('https://dl.dropboxusercontent.com/s/68ufgna32p30a1k/square_bg.png') repeat left top scroll;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content img {
  width: 120px;
  margin: auto auto 0;
}

.content h1 {
  margin: 10px auto 20px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 2em;
  color: #111;
  font-weight: 300;
  text-align: center;
}

.content a {
  margin: 20px auto auto;
  display: block;
  flex: 0 0 auto;
  text-decoration: none;
  color: #111;
  border: 2px solid #111;
  padding: 15px 20px;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 0.9em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: 150ms ease-out;
}

.content a:hover {
  background-color: #111;
  color: #fff;
  transition: 150ms ease-out;
}

.content a:hover i {
  color: #fff;
  transition: 150ms ease-out;
}

.content a i {
  font-size: 1.1em;
  margin: auto 0 auto 10px;
  color: #111;
}

div.navbar-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

ul.navbar {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0;
  position: fixed;
  bottom: 20px;
  left: 0;
  padding: 0;
}

ul.navbar li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 0 auto;
  padding: 0;
  margin: auto 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  color: #444;
}

ul.navbar li i {
  font-size: 1.1em;
  margin: auto 10px auto 0;
  color: #444;
}

span.copyright {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #aaa;
  padding: 20px;
  font-size: 0.9em;
  font-weight: 700;
  box-sizing: border-box;
  z-index: 99999;
}

.mobile-nav-toggle {
  display: none;
  margin: 0;
  position: fixed;
  bottom: 15px;
  left: 20px;
  padding: 0;
  color: #111;
  line-height: 1;
  z-index: 9999999;
}

.mobile-nav-toggle i {
  font-size: 1.75em;
}

@media all and (max-width: 768px) {
  .mobile-nav-toggle {
    display: block;
    z-index: 99999;
  }

  div.navbar-bg {
    display: block;
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.5);
    transition: 100ms ease-out;

  }
  div.navbar-bg.open {
    opacity: 1;
    pointer-events: auto;
    transition: 100ms ease-out;

  }

  ul.navbar {
    left: 0;
    width: 100vw;
    bottom: -100%;
    padding-bottom: 60px;
    height: auto;
    background: #fff;
    flex-flow: column nowrap;
    z-index: 9999;
    transition: 100ms ease-out;
  }
  ul.navbar.open {
    bottom: 0;
    transition: 100ms ease-out;
  }

  ul.navbar li {
    flex: 0 0 auto;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    border-bottom: 1px solid #eee;
  }
}
